body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.intro{
    width: 600px;
    background-color: aquamarine;
    font-size: 1.6em;
    padding: 15px;
}
